@import url("https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
body {
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

#produktet a {
    color: #fc391d;
}

.bg-nav {
    background-color: #f2f5fc;
}

.nav-font {
    font-family: "Cherry Cream Soda", cursive;
    color: #fc391d;
}

.logo img {
    max-height: 55px;
    margin-right: 6px;
}

.logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fc391d;
    font-family: "Cherry Cream Soda", cursive;
}

.hero {
    width: 100%;
    height: 100vh;
    background: url(../img/hero-bg.png) top center no-repeat;
    background-size: cover;
}

.hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    font-family: "Cherry Cream Soda", cursive;
}

.hero span {
    color: #fc391d;
}

.hero h2 {
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 26px;
    font-family: "Cherry Cream Soda", cursive;
}

.hero .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #f3cd00;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.hero .btn-get-started span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.hero .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.hero .btn-get-started:hover i {
    transform: translateX(5px);
}

.hero .hero-img {
    text-align: right;
}

.row-center {
    justify-content: center;
}

.kerko-btn {
    margin-top: 30px;
    line-height: 0;
    padding: 20px 60px;
    width: 30%;
    border-radius: 10px;
    transition: 0.5s;
    font-size: 20px;
    color: #fc391d;
    background: #f3cd00;
    font-family: "Cherry Cream Soda", cursive;
    box-shadow: 0px 5px 30px rgb(65 84 241 / 40%);
}

.btn-warning:hover {
    color: #ffff;
    background-color: #e43920;
    border-color: #e43920;
    width: 40%;
}

#pemet h5 {
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-size: 50px;
}

#perimet h5 {
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-size: 50px;
}

#produktet {
    width: 100%;
    background: url(../img/hero-bg.png) top center no-repeat;
    background-size: cover;
}

#pemet-items {
    width: 100%;
    background: url(../img/hero-bg.png) top center no-repeat;
    background-size: cover;
}

#perimet-items {
    width: 100%;
    background: url(../img/hero-bg.png) top center no-repeat;
    background-size: cover;
}

#pemet-items {
    display: none;
}

#perimet-items {
    display: none;
}

#butoni {
    display: none;
}

.img-size {
    max-width: 100%;
    height: auto;
}

.cmimi {
    font-size: 30px;
    font-family: "Arvo", cursive;
    font-weight: 700;
    color: #fc391d;
}

.card-border {
    border-radius: 6.25rem;
    background-color: #fdfdf0;
    border-style: solid;
    border-width: 0px 3px 3px 3px;
    border-color: #fff4b1;
    box-shadow: 0px 9px 0px 0px #ffbf0063;
}

.card-border-2 {
    border-radius: .5rem;
    background-color: #ffffff;
    border-color: #ffc018;
    box-shadow: 0px 3px 0px 0px #ef6a0c;
}

.card-border-pemet {
    border-radius: .5rem;
    background-color: #ffffff;
    border-color: #5fd20c;
    box-shadow: 0px 3px 0px 0px #3d8a06;
}

.card-title {
    font-size: 24px;
    font-family: "Arvo", cursive;
    color: rgb(38, 43, 38);
    font-style: italic;
    text-transform: capitalize;
}

.card-text {
    font-family: 'Dosis', sans-serif;
    color: rgb(38, 43, 38);
}

.btn-kthehu {
    position: relative;
    margin-top: -7rem;
}

.butoni {
    float: right;
}

.rreth-nesh {
    background-color: #16230317;
    border-radius: 25px;
}

.rreth-nesh h4,
p {
    font-family: 'Dosis', sans-serif;
}

.rreth-nesh p span {
    font-size: 30px;
}

.hr-custom {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    opacity: 1;
    color: green;
    border: 1px solid rgb(9, 189, 9);
}

.image {
    padding-top: 100px;
}

.kontakti-p {
    color: rgb(255, 136, 0);
    font-weight: bold;
    font-size: 18px;
}

.text-kontakt {
    font-size: 22px;
}

.text-kontakt span {
    color: rgb(10, 10, 94);
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    text-align: justify;
}

.text-kontakt div {
    color: rgb(255, 136, 0);
}

.btn-kontakt {
    background-color: #c95c04;
    color: #fff;
    font-size: 20px;
    float: right;
    padding: 5px 25px;
}

.bg-footer {
    background-color: rgb(1 28 45);
}

.ft-custom {
    padding-left: 10px;
    font-size: 16px;
    font-family: 'Arvo', sans-serif;
    font-weight: 500;
    color: #e6e4e0;
}

.footer-h5 {
    font-size: 26px!important;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fc391d !important;
    font-family: "Cherry Cream Soda", cursive;
}

.hr-line {
    border: 1px solid white;
}